/* DESKTOP PARAMETERS ------------------------*/

@media screen and (min-width: 780px)
{

	.container
		{
			display: grid;
			grid-template:
			     "top_long_review top_long_review top_short_review right_review" var(--top_height)
			     "bottom_short_review bottom_long_review bottom_long_review right_review" var(--bottom_height)
			    / var(--short_width) var(--middle_width) var(--short_width) var(--short_width);			
			grid-column-gap: var(--container_column_gap);
			grid-row-gap: var(--container_row_gap);
		}
		
	:root
	{
		/* SIZE ------------------------*/
			--body_width : 100vw;
			--body_height : 100vh;

			--container_width : 85.39em;
			--container_height : 44em;

			/* GRID SIZE */
				--left_part_width : 63.46em;
				--left_part_height : 44em;

				--top_width : 63.46em;
				--top_height : 21.69em;

				--bottom_width : 63.46em;
				--bottom_height : 20.46em;

				--short_width : 19.62em;
				--middle_width : 19.61em;
				--long_width : 41.54em;

				--right_part_width : 19.62em;
				--right_part_height : 44em;

			/* REVIEW SIZE */
				--review_top_height : 17.99em;
				--review_bottom_height : 16.76em;

				--review_short_width : 14.48em;
				--review_middle_width : 14.46em;
				--review_long_width : 36.39em;

				--review_right_part_width : 14.48em;
				--review_right_part_height : 40.30em;

			--profil_height : 2.46em;
			--picture_height : 2.15em;

		/* FONT ------------------------*/
			--name_font_weight : 500;
			--status_font_weight : 300;
			--paragraph_font_weigth : 300;
			--title_font_weight : 500;



		/* BACKGROUND ------------------------*/

		/* MARGIN ------------------------*/
			--identity_margin_left : 1.31em;

			--container_margin_left : auto;
			--container_margin_top : 12.69em;
			--container_margin_right : auto;

		/* PADDING ------------------------*/
			--review_padding_left : 2.46em;
			--review_padding_top : 1.85em;
			--review_padding_right : 2.69em;
			--review_padding_bottom : 1.85em;
		
		/* BORDER ------------------------*/
			--review_border_radius : 0.38em;

			--white_box_shadow : 1em 1em 2em hsla(217, 19%, 35%, 0.1);


		/* POSITION ------------------------*/


		/*  FLEXBOX ------------------------*/

		/*  GRID ------------------------*/
		--container_column_gap : 2.31em; 
		--container_row_gap : 1.85em;




	}
}

@media screen and (max-width: 1280px)
{

	:root
	{
			--container_margin_left : 3.69em;
			--container_margin_top : 8.69em;
			--container_margin_right : auto;
			--container_margin_bottom : auto;
	}
}

@media screen and (max-width: 1170px)
{

	:root
	{
			--container_margin_left : 0.69em;
			--container_margin_top : 8.69em;
			--container_margin_right : auto;
			--container_margin_bottom : auto;
	}
}