/* GENERAL SITTING ----------------*/
	:root
	{
		/* SCREEN SIZE ----------------*/
		--mobile_screen_width : 375px;
		--tablet_screen_width : 700px;
		--desktop_screen_width : 1440px;

		/* COLORS ----------------*/
			--moderate_violet : hsl(263, 55%, 52%);
			--very_dark_grayish_blue : hsl(217, 19%, 35%);
			--very_dark_blackish_blue : hsl(219, 29%, 14%);
			--white : hsl(0, 0%, 100%);

			--light_gray : hsl(0, 0%, 81%);
			--light_grayish_blue : hsl(210, 46%, 95%);

			--verified_graduate_opacity : 50%;
			--review_paragraphs_opacity : 70%;

		/* FONT SIZE ----------------*/
			--general_font_size : 13px;
			--small_font_size : 11px;
			--mini_font_size : 9px;

	}

	* 
	{
		font-family: 'Barlow Semi Condensed', sans-serif;
	}