/* SMARTPHONE PARAMETERS ------------------------*/

@media screen and (max-width : 375px)
{

	.container
		{
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
		
	:root
	{
		/* SIZE ------------------------*/
			--body_width : 100vw;
			--body_height : 145.31em;

			--container_width : 25.15em;
			--container_height : 132.31em;

			/* GRID SIZE */
				--left_part_width : 25.15em;
				--left_part_height : 44em;

				--top_width : 25.15em;
				--top_height : 26.69em;

				--bottom_width : 25.15em;
				--bottom_height : 25.46em;

				--short_width : 25.15em;
				--middle_width : 25.15em;
				--long_width : 25.15em;

				--right_part_width : 25.15em;
				--right_part_height : 44em;

			/* REVIEW SIZE */
				--review_top_height : auto;
				--review_bottom_height : auto;

				--review_short_width : 20em;
				--review_middle_width : 20em;
				--review_long_width : 20em;

				--review_right_part_width : 20em;
				--review_right_part_height : auto;

			--profil_height : 2.46em;
			--picture_height : 2.15em;

		/* FONT ------------------------*/
			--name_font_weight : 500;
			--status_font_weight : 300;
			--paragraph_font_weigth : 300;

			--title_font_weight : 500;
			--title_line_height : 1em;



		/* BACKGROUND ------------------------*/

		/* MARGIN ------------------------*/
			--identity_margin_left : 1.31em;

			--container_margin_left : 1.85em;
			--container_margin_top : 5.46em;
			--container_margin_right : auto;
			--container_margin_bottom : 5.38;

		/* PADDING ------------------------*/
			--review_padding_left : 2.46em;
			--review_padding_top : 1.85em;
			--review_padding_right : 2.69em;
			--review_padding_bottom : 1.85em;
		
		/* BORDER ------------------------*/
			--review_border_radius : 0.38em;

			--white_box_shadow : 1em 1em 2em hsla(217, 19%, 35%, 0.1);


		/* POSITION ------------------------*/


		/*  FLEXBOX ------------------------*/

		/*  GRID ------------------------*/
		--container_column_gap : 1em; 
		--container_row_gap : 0.85em;
	}
